.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100%;
    border-radius: 15%;
    background-color:rgb(105, 19, 105) ;
    border: 2px solid black;
    position: relative;
}

.header {
    display: flex;
    align-self: stretch;
    color: white;
    justify-content: start;
    width: 100%;

}

.list-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#list li {
    color: white;
}

.new-item {
    color: white;
}